---
docker: True
token: {{ cluster_token }}
cluster-init: True
node-ip: {{ node_ip }}
node-external-ip: {{ node_ip }}
flannel-backend: "wireguard-native"
flannel-external-ip: True
write-kubeconfig-mode: "0644"
