{
    "runtimes": {
        "nvidia": {
            "path": "/usr/bin/nvidia-container-runtime",
            "runtimeArgs": []
        }
    },
    "default-runtime": "nvidia"{% if docker_data_root is defined %},
    "data-root": "{{ docker_data_root }}"
{% endif %}
}
